@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>
        Some Title goes here
    </title>
    <style type="text/css">
        button {
            border: 10px;
            background: blue;
            color: #ff0;
            padding: 5px;
        }

        input {
            border: none;
            background: teal;
            color: #ff0;
            font-weight: bold;
            padding: 5px;
        }
    </style>
</head>
<body>
    <br />
    <hr style="color: purple" /> <!--doesnt change color-->
    <hr />
    <main>
        <h1 align="center">This should be <b><u>main</u></b> Title?! =D</h1>
        <p> This one is main text. I should type something else but running out of <span style="font-size: 30px; color: blue"> ideas </span> what else to write! ;/ </p>
        <p> So as long as I understand what this part of code means, I'm happy! :D </p>
        <hr style="height:8px; color:gold" /> <!--doesnt change color-->
        <p> Calculate SUM </p>
        <p>
            Enter A <input type="text" id="A"> Enter B <input type="text" id="B">
            <button onclick="getValue()"> Sum </button>
            <div class="myText">TEXT</div>
        </p>
        <p> Result = </p>
        <p> Correct <input type="checkbox" id="Correct" /> Wrong <input type="checkbox" id="Wrong" /> </p>
    </main>
    <footer>
        <h3>
            This is Footer. I was expecting it to be like, LOW-LOW.
        </h3>
    </footer>
</body>
</html>
